<div class="main-wrapper" [formGroup]="form">
  <div class="flex items-center justify-between w-full">
    <div class="flex items-center cursor-pointer" routerLink="/">
      <img src="assets/icons/movie-rating.svg" alt="Movie Rating" class="w-[120px]">
      <span class="font-semibold w-[80px]">The Movie Rating</span>
    </div>

    <div class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text"
        pInputText #searchInput
        placeholder="Search a movie"
        class="search-input m-auto w-[500px]"
        [(ngModel)]="keyword"
        [ngModelOptions]="{standalone: true}"
        (keyup)="onSearch($event)"/>
    </div>

    <div>
      <button pButton severity="secondary" (click)="onSignOut()">
        <i class="pi pi-sign-out"></i>
      </button>
      <button pButton class="ml-2" (click)="profileDropdown.toggle($event)">
        <i class="pi pi-user"></i>
      </button>
      <p-overlayPanel #profileDropdown [styleClass]="'user-dropdown-overlay'">
        <ul class="user-dropdown-list">
          <li class="user-dropdown-item" *ngFor="let item of dropdownItems" (click)="onClickUserDropdown(item)">
            <i [class]="item.icon"></i>
            <span class="ml-2">{{item.label}}</span>
          </li>
        </ul>
      </p-overlayPanel>
    </div>
  </div>
  <div class="mart-6">
    <router-outlet></router-outlet>
  </div>

  <p-dialog header="Change Password" [modal]="true" [(visible)]="changePasswordVisibility" [draggable]="false" [style]="{ width: '25rem' }">
    <div class="form-group gap-3 mb-3">
      <label class="font-semibold w-6rem">Current Password</label>
      <input pInputText type="password" class="flex-auto" autocomplete="off" formControlName="currentPassword" />
      <span *ngIf="form.hasError('required', ['currentPassword']) && form.get('currentPassword')?.touched">
        This field is required
      </span>
    </div>
    <div class="form-group gap-3 mb-5">
      <label class="font-semibold w-6rem">New Password</label>
      <input pInputText type="password" class="flex-auto" autocomplete="off" formControlName="password" />
      <span
        *ngIf="form.hasError('mustMatch') && form.get('confirmPassword')?.dirty && form.get('password')?.touched">
        Password does not match!
      </span>
      <span *ngIf="form.hasError('required', ['password']) && form.get('password')?.touched">
        This field is required
      </span>
    </div>
    <div class="form-group gap-3 mb-5">
      <label class="font-semibold w-6rem">Confirm Password</label>
      <input pInputText type="password" class="flex-auto" autocomplete="off" formControlName="confirmPassword" />
      <span
        *ngIf="form.hasError('mustMatch') && form.get('confirmPassword')?.dirty && form.get('password')?.touched">
        Password does not match!
      </span>
      <span *ngIf="form.hasError('required', ['confirmPassword']) && form.get('confirmPassword')?.touched">
        This field is required
      </span>
    </div>
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="changePasswordVisibility = false" />
      <p-button label="Save" (click)="onChangePassword()" />
    </div>
  </p-dialog>
</div>
