<div class="main-wrapper">
  <div class="flex items-center justify-between w-full">
    <div class="flex items-center">
      <img src="assets/icons/movie-rating.svg" alt="Movie Rating" class="w-[120px]">
      <span class="font-semibold w-[80px]">The Movie Rating</span>
    </div>

    <div class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text"
        pInputText #searchInput
        placeholder="Search a movie"
        class="search-input m-auto w-[500px]"
        [(ngModel)]="keyword" 
        (keyup)="onSearch($event)"/>
    </div>

    <div>
      <button pButton severity="secondary" (click)="onSignOut()">
        <i class="pi pi-sign-out"></i>
      </button>
      <button pButton class="ml-2">
        <i class="pi pi-user"></i>
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

