.movie-detail-wrapper {
  .thumbnail {
    height: 100%;
    width: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  .star-icon {
    opacity: 0.5;
    & ~ .star-icon {
      margin-left: 4px;
    }
    &.active {
      color: var(--x-star);
      opacity: unset;
    }
  }
  .description {
    max-height: 60%;
    overflow-y: auto;
  }
}
